* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: #2e2e2e;
}
li {
  list-style-type: none;
}
#container {
  display: flex;
  justify-content: center;
}
/* scene */
.scene {
  width: 850px;
  height: 800px;
  position: relative;
  display: none;
}
/* start scene */
.titleBox {
  position: absolute;
  top: 16%;
  width: 100%;
  text-align: center;
  font-family: 'NeoDunggeunmo';
}
.backgroundImage {
  width: 100%;
  height: 100%;
}
.title {
  font-size: 72px;
  color: #FF1919;
}
.titleWhite {
  font-size: 56px;
  color: #ffffff;
}
.scene1Btn {
  width: 330px;
  height: 83px;
  background-color: #ffffff;
  font-family: 'NeoDunggeunmo';
  font-size: 32px;
  color: #141414;
  text-align: center;
  line-height: 83px;
  border-radius: 10px;
  opacity: 0.9;
  cursor: pointer;
}
.scene1Btn:hover {
  background-color: #a70000;
  color: #ffffff;
}
#scene1Btn1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}
#scene1Btn2 {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, 0%);
}
/* settingBox */
.settingBox {
  position: absolute;
  top: 330px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.settingBox li {
  display: inline-block;
}
.settingBox label {
  display: inline-block;
  width: 200px;
  height: 50px;
  background-color: #626262;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  font-family: 'NeoDunggeunmo';
  border: 1px solid #ffffff;
}
.settingBox input {
  display: none;
}
.settingBox input:checked+label {
  background-color: #D663FF;
}
.settingSaveBtn {
  width: 130px;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  opacity: 0.8;
  position: absolute;
  bottom: 25px;
  right: 25px;
}
/* speachBubble */
.doctor {
  position: absolute;
  top: 36%;
  left: 15%;
}
.speachBubble {
  background-color: #ffffff;
  opacity: 0.9;
  width: 780px;
  height: 220px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 35px 0px 35px;
  font-family: 'NeoDunggeunmo';
}
.speaker {
  font-size: 32px;
  display: block;
  padding-bottom: 10px;
  font-weight: 600;
}
.speach {
  font-size: 20px;
  line-height: 32px;
}
.speachBubbleBtn {
  width: 102px;
  height: 49px;
  background-color: #8224a2;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  line-height: 49px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.red {
  color: #FF0000;
}
/* selectBox */
.selectBox {
  position: absolute;
  bottom: 330px;
  right: 70px;
}
.selectBox li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 42px;
}
.selectBox label {
  width: 102px;
  height: 49px;
  background-color: #626262;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  line-height: 49px;
  display: inline-block;
  margin-left: 70px;
  font-family: 'NeoDunggeunmo';
  border: 1px solid #ffffff;
}
.selectBox input {
  display: none;
}
.selectBox input:checked+label {
  background-color: #D663FF;
}
.paddleImg {
  width: 175px;
  height: 20px;
}
/* virusBox */
.virusImgBox {
  width: 331px;
  height: 374px;
  border-radius: 9px;
  position: absolute;
  background-color: #ffffff;
  bottom: 330px;
  right: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.virusImgBox li {
  width: 232px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.virusImgBox li:last-child img {
  width: 135px;
  height: 126px;
}
.virusImgBox li span{
  font-size: 24px;
  font-family: 'NeoDunggeunmo';
  margin-left: 20px;
}
/* stageBox */
.stageBox {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -80%);
}
.stageBox li label{
  display: block;
  width: 330px;
  height: 83px;
  background-color: #ffffff;
  font-family: 'NeoDunggeunmo';
  font-size: 32px;
  color: #141414;
  text-align: center;
  line-height: 83px;
  border-radius: 10px;
  opacity: 0.9;
  cursor: pointer;
  margin: 28px 0;
  border: 1px solid #ffffff;
}
.stageBox input {
  display: none;
}
.stageBox input:checked +label {
  background-color: #D663FF;
  color: #ffffff;
}
.stageBox label:hover {
  background-color: #e8d5ef;
}
.disableStartBtn {
  background-color: #b2b2b2;
  cursor: default;
}
/* 마지막 scene 폭죽 */
particle {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  box-shadow: 1px 1px 4px #eb6383;
}
canvas {
  background: #eee;
}
